---
layout: default
title: Home
---

{% assign hero = site.data.sections | where: "type", "hero" | first %}
{% assign bullets = site.data.sections | where: "type", "bullet" %}
{% assign illustrations = site.data.sections | where: "type", "illustration" %}
{% assign employees = site.data.employees %}

<section id="hero">
  <div class="textbox">
    <h1>{{ hero.heading }}</h1>
    <p class="hero">{{ hero.text }}</p>
  </div>
</section>

{% for illustration in illustrations %}
  <section id="illustration">
    <div class="textbox">
      <h2>{{ illustration.heading }}</h2>
      <img src="/assets/images/{{ illustration.image }}">
    </div>
  </section>
{% endfor %}

<section id="bullets" class="dark">
  {% for bullet in bullets %}
    <div class="textbox bullet centered">
      {% if bullet.icon %}
        <img src="/assets/icons/light/{{ bullet.icon }}.svg">
      {% endif %}
      <h2>{{bullet.heading}}</h2>
      <p class="lead">{{bullet.text}}</p>
    </div>
  {% endfor %}
</section>

<section id="employees">
  <div class="textbox">
    <h2>{{ employees.heading }}</h2>
    <p>{{ employees.text }}</p>
  </div>
  <div class="listbox">
    {% for employee in employees.people %}
      <div class="textbox employee">
        <img src="/assets/images/people/{{employee.image}}">
        <h6>{{ employee.title }}</h6>
        <p class="lead">{{ employee.name }}</p>
      </div>
    {% endfor %}
  </div>
</section>

<section id="posts" class="dark">
  <div class="headingbox">
    <h2>Aktuelt</h2>
    <a href="/posts" class="button light">Se alle</a>
  </div>
  <div class="listbox">
    {% for post in site.posts limit:2 %}
      <article class="light">
        {% if post.image %}
          <img src="/assets/images/posts/{{ post.image }}">
        {% endif %}
        <div class="textbox">
          <h3>{{ post.title | capitalize }}</h3>
          {{ post.excerpt }}
        </div>
        <a href="{{ post.url }}" class="button box">Les mer om {{ post.title | downcase }}</a>
      </article>
    {% endfor %}
  </div>
</section>
