---
layout: default
title: Home
---

{% assign illustration = site.categories.sections | where: "title", "Illustration" | first %}
{% assign about = site.categories.sections | where: "title", "About" | first %}

{% assign hero = site.data.sections | where: "type", "hero" | first %}
{% assign bullets = site.data.sections | where: "type", "bullet" %}
{% assign illustrations = site.data.sections | where: "type", "illustration" %}
{% assign employees = site.data.employees %}

<section id="hero">
    <h1>{{ hero.heading }}</h1>
    <p class="hero">{{ hero.text }}</p>
</section>

{% for illustration in illustrations %}
  <section id="illustration">
    <h2>{{ illustration.heading }}</h2>
    <img src="/assets/images/{{ illustration.image }}">
  </section>
{% endfor %}

<section id="bullets">
  {% for bullet in bullets %}
    <div class="bullet">
      {% if bullet.icon %}
        <img src="/assets/icons/light/{{ bullet.icon }}.svg">
      {% endif %}
      <h2>{{bullet.heading}}</h2>
      <p class="lead">{{bullet.text}}</p>
    </div>
  {% endfor %}
</section>

<section id="employees">
  <div class="text">
    <h2>{{ employees.heading }}</h2>
    <p>{{ employees.text }}</p>
  </div>
  {% for employee in employees.people %}
    <div class="employee">
      <img src="/assets/images/people/{{employee.image}}">
      <h3>{{ employee.name }}</h3>
      <p>{{ employee.title }}</p>
    </div>
  {% endfor %}
</section>

<section id="posts">
  <div class="section-heading">
    <h2>Posts</h2>
    <a href="/posts">Se alle</a>
  </div>
  {% for post in site.posts.section limit:2 %}
    <article>
      <h3>{{ post.title }}</h3>
      {{ post.excerpt }}
      <a href="{{ post.url }}">Les mer om {{ post.title | downcase }}</a>
    </article>
  {% endfor %}
</section>
