---
layout: default
title: Ohmia Industry - Posts
---

<section id="hero">
  <div class="text pad-large">
    <h1>News</h1>
  </div>
</section>

<section id="posts">
  <div class="col-span col-2 col-gutter">
    {% for post in site.posts %}
      <a class="card news" href="{{ post.url }}">
        {% if post.image %}
          <div class="image" style="background-image: url('/assets/images/{{ post.image }}')"></div>
        {% endif %}
        <div class="text pad-small">
          <h3>{{ post.title | capitalize }}</h3>
          {% if post.lead %}
            <p>{{ post.lead }}</p>
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </div>
        <div class="button pad-small">Read more</div>
      </a>
    {% endfor %}
    </div>
</section>
