---
layout: default
title: Posts
---


<section id="posts" class="light">
  <div class="content centered heading">
    <h2>All posts</h2>
  </div>
  <div class="content">
    <div class="row col2">
    {% for post in site.posts %}
      <a class="card vertical white" href="{{ post.url }}">
        <article>
          {% if post.image %}
            <img class="full" src="/assets/images/posts/{{ post.image }}">
          {% endif %}
          <div class="text">
            <h3>{{ post.title | capitalize }}</h3>
            {% if post.lead %}
              <p>{{ post.lead }}</p>
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </div>
        </article>
      </a>
    {% endfor %}
  </div>
</section>
