<footer class="dark">
  <div class="content">
    <div class="row col2">
      <div>
        <h5>Ohmia Industry</h5>
        <p>Org nummer: {{ site.data.contact.organisation-number }}</p>
        <p>Besøk oss på <a href="{{ site.data.contact.facebook }}">Facebook</a> og <a href="{{ site.data.contact.linkedin }}">LinkedIn</a></p>
      </div>
      <div>
        <img class="icon" src="/assets/icons/light/phone.svg" alt="Telefon"><p>{{ site.data.contact.telephone }}</p>
        <img class="icon" src="/assets/icons/light/email.svg" alt="E-post"><p>{{ site.data.contact.mail }}</p>
        <img class="icon" src="/assets/icons/light/domain.svg" alt="Adresse"><p>{{ site.data.contact.street }}, {{ site.data.contact.postcode }} {{ site.data.contact.city }}</p>
      </div>
    </div>
  </div>
</footer>
