<footer>
  <div class="listbox">
    <div>
      <h5>Ohmia Industry</h5>
      <p>Org nummer: {{ site.data.contact.organisation-number }}</p>
      <p>Besøk oss på <a href="{{ site.data.contact.facebook }}">Facebook</a> og <a href="{{ site.data.contact.linkedin }}">LinkedIn</a></p>
    </div>
    <div>
      <p><img class="icon" src="/assets/icons/light/phone.svg" alt="Telefon">{{ site.data.contact.telephone }}</p>
      <p><img class="icon" src="/assets/icons/light/email.svg" alt="E-post">{{ site.data.contact.mail }}</p>
      <p><img class="icon" src="/assets/icons/light/domain.svg" alt="Adresse">{{ site.data.contact.street }}, {{ site.data.contact.postcode }} {{ site.data.contact.city }}</p>
    </div>
  </div>
</footer>
