$color-brand-default: rgba(40,100,90,1);
$color-brand-highlight: lighten(rgba(40,100,90,1),10%);
$color-background-accent-default: rgba(0,160,130,.1);
$color-background-accent-highlight: rgba(0,160,130,.5);
$color-background-dark-default: rgba(5,15,10,1);
$color-background-white-default: rgba(255,255,255,1);

$color-text-light-default: rgba(255,255,255,.9);
$color-text-dark-default: rgba(0,0,0,.9);
$color-text-brand-default: rgba(40,100,90,.9);
$color-text-brand-highlight: rgba(40,100,90,1);
$color-text-accent-default: rgba(0,160,130,.9);
$color-text-accent-highlight: rgba(0,160,130,1);

html{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body{
  padding: 72px 0 0 0;
  margin: 0;
  background-color: #f9f9f9;
}

section, footer{
  padding: 48px;
}

header{
  background-color: $color-brand-default;
  position: fixed;
  top: 0;
  width: 100%;

  nav{
    display: flex;
    flex-direction: row;
    padding: 0 48px;
  }

  .button{
    padding: 24px;
    font-size: 20px;
    line-height: 24px;
  }

  span{
    flex-grow: 1;
  }

  img{
    height: 24px;
  }
}

footer{
  background-color: $color-background-dark-default;
  color: $color-text-light-default;
  img{
    margin-right: 12px;
    float: left;
  }
  a{
    color: $color-text-accent-default;
    &:hover{
      color: $color-text-accent-highlight;
    }
  }
}

#hero{
  .text{
    background-color: $color-brand-default;
    color: $color-text-light-default;
  }
  .image{
    min-height: 240px;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    background-color: $color-brand-default;
  }
}

#posts.green{
  background-color: $color-brand-default;
  color: $color-text-light-default;
  a{
    color: inherit;
  }
}

.pad-large{padding: 96px;}
.pad-medium{padding: 48px;}
.pad-small{padding: 24px;}

img{
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  align-self: flex-start;
  &.pad-none{
    padding: 0;
  }
}

div{
  box-sizing: border-box;
}

.col-2{
  display: flex;
  flex-wrap: wrap;
  > * {width: calc(100% / 2);}
  &.col-gutter > * {width: calc((100% - (24px * 1)) / 2);}
}

.col-3{
  display: flex;
  flex-wrap: wrap;
  > * {width: calc(100% / 3);}
  &.col-gutter > * {width: calc((100% - (24px * 2)) / 3);}
}

.col-span {flex-grow: 1;}

.col-gutter{gap: 24px;}

.card{
  flex-grow: 0;
  margin: 0;
  &.bullet{
    text-align: center;
    background-color: $color-background-accent-default;
    color: $color-brand-default;
    img{
      background-color: $color-brand-default;
      width: 96px;
      padding: 12px;
      border-radius: 48px;
      margin: 0 auto 24px auto;
    }
  }
  &.employee{
    background-color: $color-background-white-default;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 8px 32px 0px;
    h6{margin: 0 0 8px 0;}
    img{
      float: left;
      width: 64px;
      margin: 0 24px 0 0;
    }
  }
  &.news{
    display: flex;
    flex-direction: column;
    background-color: $color-background-white-default;
    color: $color-text-dark-default !important;
    text-decoration: none;
    transition: box-shadow 200ms;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 8px 32px 0px;
    .image{
      width: 100%;
      height: 240px;
      background-size: cover;
    }
    .text{
      flex-grow: 1;
    }
    .button{
      background-color: $color-background-accent-default;
    }
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 16px;
      .button{
        background-color: $color-background-accent-highlight;
      }
    }
  }
}

.button{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: background-color 100ms;
  &.brand, &.header{
    background-color: $color-brand-default;
    color: $color-text-light-default;
    &:hover{
      background-color: $color-brand-highlight;
    }
  }
}

// Typography

h1{
  font-size: 80px;
  line-height: 96px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 24px 0
}

h2{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 24px 0
}

h3{
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 24px 0;
  &:last-child{
    margin: 0;
  }
}

h4{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 24px 0;
  &:last-child{
    margin: 0;
  }
}

h5{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 24px 0
}

h6{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 24px 0;
  color: $color-text-brand-default;
}

p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 24px 0;
  &:last-child{
    margin: 0;
  }

  &.lead{
    font-size: 24px;
    line-height: 36px;
  }

  &.hero{
    font-size: 36px;
    line-height: 48px;
  }
}

a{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: underline;
  margin: 24px 0 24px 0;
  color: $color-text-brand-default;
  &:hover{
    color: $color-text-brand-highlight;
    text-decoration: none;
  }

  &.button{
    font-weight: 700;
    text-decoration: none;
    margin: 0;
  }
}

em{font-style: italic;}
strong{font-weight: 700;}
del{text-decoration: line-through;}
code{
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "courier new", monospace;
  background-color: rgba(0,0,0,.1);
  vertical-align: top;
}

ul, ol{
  margin: 12px 0 24px 0;
  padding: 0 0 0 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;

  li{
    margin: 0 0 12px 0;
  }
}

blockquote{
  display: inline-block;
  background-color: $color-background-accent-default;
  margin: 24px 0;
  padding: 0 24px 0 40px;
  border-left: 8px solid $color-brand-default;
  p{
    margin: 24px 0 !important;
  }
}

hr{
  margin: 48px 0;
  border-style: solid;
}

@media screen and (max-width: 1280px) {

  h1{
    font-size: 60px;
    line-height: 72px;
  }

  h2{
    font-size: 32px;
    line-height: 40px;
  }

  h3{
    font-size: 28px;
    line-height: 36px;
  }

  #illustration{
    flex-direction: column;
    div, img{
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {

  section, footer{
    padding: 24px;
  }

  header{
    nav{
      padding: 0;
    }
  }

  #hero{
    flex-direction: column-reverse;
    .text, .image{
      width: 100%;
    }
  }

  .col-3{
    flex-direction: column;
    > * {width: 100%;}
    &.col-gutter > * {width: 100%;}
  }
  .pad-large{padding: 48px;}
  .pad-medium{padding: 24px;}
  .pad-small{padding: 24px;}
}

@media screen and (max-width: 768px) {
  body{
    padding-top: 48px;
  }

  header{
    .button{
      padding: 14px;
      font-size: 16px;
      line-height: 20px;
    }
    img{
      height: 20px
    }
  }
  .col-2{
    flex-direction: column;
    > * {width: 100%;}
    &.col-gutter > * {width: 100%;}
  }
}

@media screen and (max-width: 560px) {

  section, footer{
    padding: 12px;
  }
  .pad-large{padding: 24px;}
}
