$color-text-light-default: rgba(255,255,255,.9);
$color-text-light-highlight: rgba(255,255,255,1);
$color-text-dark-default: rgba(0,0,0,.9);
$color-text-dark-highlight: rgba(0,0,0,1);
$color-brand-white-default: rgba(255,255,2255,1);
$color-brand-green-default: rgba(40,100,90,1);
$color-brand-green-overlay: rgba(40,100,90,.5);
$color-brand-green-100: rgba(40,100,90,.1);

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $color-brand-white-default;
  color: $color-text-dark-default;
}

header{
  background-color: $color-brand-green-default;
  position: fixed;
  width: 100%;

  nav{
    display: flex;
    flex-direction: row;
  }

  span{
    flex-grow: 1;
  }
}

.dark{
  background-color: $color-brand-green-default;
  color: $color-text-light-default;
}

.light{
  background-color: $color-brand-white-default;
  color: $color-text-dark-default;
}

.textbox{
  padding: 24px;
  width: 100%;
  box-sizing: border-box;

  *:first-child{
    margin-top: 0;
  }
}

.listbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headingbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .button{
    align-self: flex-start;
  }
}

.bullet{
  padding: 96px;
  text-align: center;

  h2, p{
    max-width: 768px;
    margin: 24px auto;
  }

  img{
    width: 96px;
    height: 96px;
    margin: auto;
    display: block;
  }
}

.employee{
  flex-basis: calc((100% - 48px) / 3);
  padding: 24px;
  box-sizing: border-box;
  text-align: center;

  h6, p{margin: 0;}

  img{
    width: 96px;
    height: 96px;
    margin: 0 auto 24px auto;
    display: block;
  }
}

article {
  width: calc(50% - 24px);
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;

  .textbox{height: 100%;}
  img{width: 100%;}
}

.button{
  padding: 12px 24px;
  margin: 0 0 24px 0;
  display: inline-block;
  color: $color-brand-green-default;

  &.light:hover{background-color: darken($color-brand-white-default, 10%);}
  &.dark:hover{background-color: lighten($color-brand-green-default, 10%);}

  &.box{
    box-sizing: border-box;
    background-color: $color-brand-green-100;
    width: 100%;
    padding: 24px;

    &:hover{background-color: darken($color-brand-green-100,25%);}
  }

  &.header{
    padding: 24px;
    font-size: 20px;
    color: $color-text-light-default;

    &:hover{
      color: $color-text-light-highlight;
      background-color: rgba(255,255,255,.1);
    }

    &.current {
      color: green;
    }
  }

  img{
    height: 24px;
    display: block;
  }
}

section{
  padding: 96px;
  *:first-child{margin-top: 0;}
}

section#hero{
  padding-top: 384px;
  background-image: linear-gradient($color-brand-green-overlay, $color-brand-green-overlay), url("/assets/images/hero1.jpg");
  background-size: cover;
  background-position: center center;
  color: $color-text-light-default;
}

section#bullets{
  padding: 0;
  div:nth-child(1){background-color: rgba(255,255,255,0);}
  div:nth-child(2){background-color: rgba(255,255,255,0.1);}
  div:nth-child(3){background-color: rgba(255,255,255,0.2);}
}

section#illustration{
  img{width: 100%;}
}

// Typography

h1{
  font-size: 64px;
  line-height: 96px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0;
}

h2{
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0;
}

h3{
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0 24px 0;
}

h4{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0 24px 0;
}

h5{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0 24px 0;
}

h6{
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 48px 0 12px 0;
}

p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 24px 0 24px 0;

  &.lead{
    font-size: 24px;
    line-height: 36px;
  }

  &.hero{
    font-size: 36px;
    line-height: 48px;
  }
}

a{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: underline;
  margin: 24px 0 24px 0;

  &.button{
    font-weight: 700;
    text-decoration: none;
    margin: 0;
  }
}

em{font-style: italic;}
strong{font-weight: 700;}
del{text-decoration: line-through;}
code{
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "courier new", monospace;
  background-color: rgba(0,0,0,.1);
  vertical-align: top;
}

ul, ol{
  margin: 12px 0;
  padding: 0 0 0 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;

  li{
    margin: 0 0 12px 0;
  }
}

blockquote{
  display: inline-block;
  background-color: rgba(0,0,0,.1);
  margin: 24px 0;
  padding: 0 24px 0 40px;
  border-left: 8px solid rgba(0,0,0,.1);
}
