$color-text-light-default: rgba(255,255,255,.9);
$color-text-light-highlight: rgba(255,255,255,1);
$color-text-dark-default: rgba(0,0,0,.9);
$color-text-dark-highlight: rgba(0,0,0,1);
$color-brand-white-default: rgba(255,255,255,1);
$color-brand-green-default: rgba(40,100,90,1);
$color-brand-green-overlay: rgba(40,100,90,.75);
$color-brand-green-100: rgba(40,100,90,.1);
$color-text-darkgreen-default: darken($color-brand-green-default, 10%);
$color-text-darkgreen-highlight: $color-brand-green-default;
$color-text-lightgreen-default: lighten($color-brand-green-default, 50%);
$color-text-lightgreen-highlight: lighten($color-brand-green-default, 75%);
$color-background-light: rgba(240,240,240,1);

html{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  padding: 72px 0 0 0;
  background-color: darken($color-brand-green-default, 25%);
  //background-color: $color-background-light;
  color: $color-text-dark-default;
}

.white{
  background-color: $color-brand-white-default;
  color: $color-text-dark-default;
  a{color: $color-text-darkgreen-default;}
  a:hover{color: $color-text-darkgreen-highlight;}
}
.green{
  background-color: $color-brand-green-default;
  color: $color-text-light-default;
  a{color: $color-text-lightgreen-default;}
  a:hover{color: $color-text-lightgreen-highlight;}
}

.dark{
  background-color: darken($color-brand-green-default, 25%);
  color: $color-text-light-default;
  a{color: $color-text-lightgreen-default;}
  a:hover{color: $color-text-lightgreen-highlight;}
}

.button{
  padding: 12px 24px;
  margin: 0 0 24px 0;
  display: inline-block;
  background-color: $color-brand-green-default;
  color: $color-text-light-default;
  &:hover{
    background-color: lighten($color-brand-green-default, 10%);
    color: $color-text-light-highlight;
  }

  &.white{
    background-color: $color-brand-white-default;
    color: $color-text-dark-default;
    &:hover{
      background-color: darken($color-brand-white-default, 10%);
      color: $color-text-dark-highlight;
    }
  }

  &.header{
    padding: 24px;
    font-size: 20px;
  }

  img{
    height: 24px;
    display: block;
  }
}

header{
  background-color: $color-brand-green-default;
  position: fixed;
  top: 0;
  width: 100%;

  nav{
    display: flex;
    flex-direction: row;
  }

  span{
    flex-grow: 1;
  }
}

footer{
  h5{margin-top: 0;}
  .icon{
    margin-right: 12px;
    float: left;
  }
}

section{
  margin: 0;
  padding: 0;
  background-color: $color-background-light;
}

section#hero{
  background: linear-gradient(0deg, $color-brand-green-overlay, $color-brand-green-overlay), url("/assets/images/hero1.jpg");
  background-size: cover;
  background-position: center;
}

section#bullets{
  div:nth-child(1){background-color: rgba(255,255,255,0);}
  div:nth-child(2){background-color: rgba(255,255,255,0.1);}
  div:nth-child(3){background-color: rgba(255,255,255,0.2);}
}

.content{
  margin: 0;
  padding: 96px;

  &.hero{
    padding-top: 384px;
    background-size: cover;
  }
  &.heading{
    padding-bottom: 0;
    *:last-child{margin-bottom: 0;}
  }
  &.centered{
    text-align: center;
    p{
      max-width: 768px;
      margin: auto;
    }
  }
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;

  &.col2 > *{
    flex-basis: calc((100% / 2) - (1 * 24px));
    flex-grow: 1;
  }
  &.col3 > *{
    flex-basis: calc((100% / 3) - (2 * 24px));
    flex-grow: 1;
  }
  .button{
    flex-basis: auto;
    flex-grow: 0;
    margin-left: auto;
  }
}

.card{
  display: flex;
  margin: 0;
  &.horizontal{flex-direction: row;}
  &.vertical{flex-direction: column;}
  .text{
    padding: 24px;
    flex-grow: 1;

    *:first-child{margin-top: 0;}
    *:last-child{margin-bottom: 0;}
  }
}

a.card{
  color: $color-text-dark-default;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover{
    color: $color-text-dark-default;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  article{
    flex-grow: 1;
  }
  &::after{
    content: "Read more";
    text-align: right;
    font-weight: 700;
    padding: 24px;
    background-color: $color-brand-green-100;
  }
}

img{
  max-width: 100%;
  &.full{width: 100%;}
  &.bullet{width: 96px;}
  &.employee{
    padding: 24px 0 24px 24px;
    width: 96px;
    height: 96px;
  }
  &.partner{
    margin: auto;
    flex-grow: 0 !important;
  }
  &.mobile{
    display: none;
  }
}

// Remove top-marging on first item
.content > *:first-child{
  margin-top: 0;
}

// Typography

h1{
  font-size: 64px;
  line-height: 96px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0;
}

h2{
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0;
}

h3{
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0 24px 0;
}

h4{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0 24px 0;
}

h5{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 48px 0 24px 0;
}

h6{
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin: 48px 0 12px 0;
}

p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 24px 0;

  &.lead{
    font-size: 24px;
    line-height: 36px;
  }

  &.hero{
    font-size: 36px;
    line-height: 48px;
  }
}

a{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: underline;
  margin: 24px 0 24px 0;
  color: $color-text-darkgreen-default;
  &:hover{
    color: $color-text-darkgreen-highlight;
    text-decoration: none;
  }

  &.button{
    font-weight: 700;
    text-decoration: none;
    margin: 0;
  }
}

em{font-style: italic;}
strong{font-weight: 700;}
del{text-decoration: line-through;}
code{
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "courier new", monospace;
  background-color: rgba(0,0,0,.1);
  vertical-align: top;
}

ul, ol{
  margin: 12px 0 24px 0;
  padding: 0 0 0 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;

  li{
    margin: 0 0 12px 0;
  }
}

blockquote{
  display: inline-block;
  background-color: rgba(0,0,0,.1);
  margin: 24px 0;
  padding: 0 24px 0 40px;
  border-left: 8px solid rgba(0,0,0,.1);
  p{
    margin: 24px 0;
  }
}

hr{
  margin: 48px 0;
  border-style: solid;
}

// Responsivity
@media screen and (min-width: 1440px){
  .content{
    padding: 96px 192px;
  }
}

@media screen and (min-width: 1920px){
  .content{
    padding: 96px 384px;
  }
}

@media screen and (max-width: 960px){
  .content{
    padding: 48px;
  }
}

@media screen and (max-width: 768px){
  .content{
    padding: 24px;
  }
  .row{
    flex-direction: column;
  }
  img.desktop{display: none;}
  img.mobile{display: block;}
  h1{
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  h2{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  h3{
    font-size: 24px;
    line-height: 32px;
  }
  h4{
    font-size: 20px;
    line-height: 24px;
  }
  h5{
    font-size: 16px;
    line-height: 24px;
  }
  p{
    &.lead{
      font-size: 18px;
      line-height: 24px;
    }
    &.hero{
      font-size: 24px;
      line-height: 36px;
    }
  }
}

//Hack to hide header items (replace with burger?)
@media screen and (max-width: 520px){
  nav a.button{
    display: none;
  }
  nav a.button:first-child{
    display: block;
  }
}
