---
layout: default
---

{% if page.image %}
<section id="hero" class="col-2">
  <div class="text pad-large">
    <h1>{{ page.title | capitalize }}</h1>
    {% if page.lead %}
      <p class="lead">{{ page.lead }}</p>
    {% endif %}
    <p>{{ page.date | date_to_string }}</p>
  </div>
  <div class="image" style="background-image: url('/assets/images/{{ page.image }}')"></div>
</section>
{% else %}
<section id="hero">
  <div class="text pad-large">
    <h1>{{ page.title | capitalize }}</h1>
    {% if page.lead %}
      <p class="lead">{{ page.lead }}</p>
    {% endif %}
    <p>{{ page.date | date_to_string }}</p>
  </div>
</section>
{% endif %}

<section>
  <div class="textbox pad-large">
    {{ content }}
  </div>
</section>
